<!DOCTYPE html>
<html lang="en">
   <head>

      <meta charset="utf-8" />
      <title> Unolingo Homepage </title>

      <link href="/css/index.css" rel="stylesheet" />

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">  

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600;700&family=Raleway:wght@400;500&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/ae061cde5b.js" crossorigin="anonymous"></script>
   </head>

   <header>UNOLINGO</header>

      <h2 id="weclome"> WELCOME LUIS SILVA </h2>

   <body  class="container">

   </body>
</html>