<!DOCTYPE html>
<html lang="en">
   <head>

      <meta charset="utf-8" />
      <title> Unolingo Login </title>

      <link href="/css/index.css" rel="stylesheet" />

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">  

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600;700&family=Raleway:wght@400;500&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/ae061cde5b.js" crossorigin="anonymous"></script>

   </head>

   <body class="container">
         <form class ="centerform" id="login" action="/auth/login" method="POST">      
            <h1>Login</h1>

            <div class="inputWithIcon">
               <input type="text" placeholder="Enter Username" name="username" >
               <i class="fa-solid fa-user"></i>
             </div>

             <div class="inputWithIcon">
               <input type="password" name="" placeholder="Enter Password" name="password">
               <i class="fa-solid fa-lock"></i>
            </div>

            <div class="submit_btn">
            <button  id="login_btn">Login</button>
            </div>

            <div id="bottom">Not a member?    <a href="signup">Sign up now!</a></div>
          </form>
      
   </body>
</html>