<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <title> Unolingo SignUp </title>

      <link href="/css/index.css" rel="stylesheet" />

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">  

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600;700&family=Raleway:wght@400;500&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/ae061cde5b.js" crossorigin="anonymous"></script>
    </head>

    <body class="container">
            <form class ="centerform" id="signup" action="/auth/signup" method="POST">    
            <h1>Signup</h1>

            <div class="inputWithIcon">
                <input type="text" placeholder="Enter Username" id="usernamebox" name="username" >
                <i class="fa-solid fa-user"></i>
            </div>

            <div class="inputWithIcon">
                <input type="email" placeholder="Enter Email" id="emailbox" name="email">
                <i class="fa-solid fa-envelope"></i>
            </div>

            <div class="inputWithIcon">
                <input type="password"  placeholder="Enter Password" id="passwordbox" name="password">
                <i class="fa-solid fa-lock"></i>
           </div>

           <div class="submit_btn">
                <button id="signup_btn">Signup</button>
           </div>

           <div id="bottom">Already a member?    <a href="login">Login Now!</a></div>
           </form>
    </body>
</html>