<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Unolingo Landing Page</title>

    <link href="/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:wght@600;700&family=Raleway:wght@400;500&display=swap"
      rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/ae061cde5b.js"
      crossorigin="anonymous"></script>
  </head>

  <body class="container">
    <header>UNOLINGO</header>

    <div class="button_box">
      <button
        onclick="location.href='signup'"
        type="button"
        class="landing_btn"
        id="landing_signup_btn">
        GET STARTED
      </button>

      <button
        onclick="location.href='login'"
        type="button"
        class="landing_btn"
        id="landing_login_btn">
        I ALREADY HAVE AN ACCOUNT
      </button>
    </div>
  </body>
</html>
