
/* The gabagool */
html{
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arimo', sans-serif;
}

/*Main Box*/
.centerform{
    height: 450px;
    width: 320px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 80px, rgba(224,224,224,1) 200%);
    color: black;
    box-sizing: border-box;
    border-radius: 12px;
}

/*User name, email, and password input box icons*/
.inputWithIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.inputWithIcon i{
    position:absolute;
    left: 835px;
    color: gray;
}

/*Big Welcome Text*/
h1{
    text-align: center;
    font-size: 38px;
}

/*Input boxes font and spacing*/
#login input, #signup input{
    font-family: 'Raleway', sans-serif;
}

/*Remove outline when input box is selected */
#login input:focus, #signup input:focus{
    outline: none;
}

/* Hide placeholder text when input box is selectedf */
#login input:focus::placeholder{
  color: transparent;
}

/*User name, email, password input boxes design*/
input[type="text"], input[type="password"], input[type="email"]{
    border: none;
    background: rgba(192, 192, 192, 0.404);
    height: 40px;
    width: 220px;
    color: black;
    padding-left: 35px;
    font-size: 13px;
    border-radius: 5px;
}

/* Submit button design*/
.submit_btn{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Submit button hover design*/
.submit_btn button:hover{
    cursor: pointer;
    background: brown;
    color:black;
    transition: .3s;
}

.submit_btn button{
    opacity: 0.8;
    border: none;
    outline: none;
    height: 40px;
    width: 180px;
    background: rgb(223, 141, 103);
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

/* Sign up now link */
#login a, #signup a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
}
#login a:hover, #signup a:hover{
    color:brown;
}

/* Not a member & already a member text */
footer{
    position: absolute;
    bottom: 30%;
    color: darkgrey;
    font-size: 14px;
}